<!-- navbar.component.html -->
<nav class="navbar">
    <div class="navbar-container">
      <!-- Logo and brand -->
      <div class="navbar-left">
        <a routerLink="/" class="navbar-logo">
          <img src="assets/logo.jpg" alt="Logo" />
          <span>Snazzy</span>
        </a>
      </div>
  
      <!-- Navigation Links -->
      <ul class="navbar-links">
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/register">Register
        </a>
        </li>
        <li><a routerLink="/login">Login</a></li>
      </ul>
    </div>
  </nav>
  