<header class="header">
  <div class="header-left">
    <img src="assets/logo.jpg" alt="ShopEase Logo" class="logo" />
    <h1 class="brand">Snazzy</h1>
  </div>

  <nav class="nav-links">
    <a routerLink="/">Products</a>
    <a routerLink="/login">Login</a>
  </nav>

  <div class="header-right">
    <div class="search-container">
      <input type="text" class="search-box" placeholder="Search products..." />
      <i class="fas fa-search search-icon"></i>
    </div>
    <a routerLink="/notifications" class="icon-btn" title="Notifications">
      <i class="fas fa-bell"></i>
    </a>
    <a routerLink="/register" class="icon-btn">
      <i class="fa fa-user"></i>
    </a>
    <a routerLink="/cart" class="icon-btn"><i class="fa fa-shopping-cart"></i></a>
  </div>
  <div class="seller-container">
    <div class="seller-icon">
      <i class="fas fa-user-plus"></i>
    </div>
    <div class="seller-text">
      <span>Become a Seller</span>
    </div>
  </div>
</header>
